body { background-color: #ffffff;}

.hidden { visibility: hidden; }

.list_item:nth-child(odd) {  background-color:  rgb(56,56,56); }

.list_item { border: solid 1px #dedada; }

.top.ui.menu {
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0 1rem;

    border-radius: 0;
    line-height: 50px;
}

.top.ui.menu>div, .ui.stackable.grid {
    margin: auto;
    max-width: 1200px;
}
.ui.blue.inverted.top.menu{
   background-color:  rgb(56,56,56);
}
.ui.small.image {
    width: 200px;
    font-size: 1rem;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}