﻿﻿@if (TempData["success"] != null)
{
<div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
        Lyckat
    </div>
    <p>@TempData["success"]</p>
</div>
}
@if (TempData["error"] != null)
{
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            Fel inträffade
        </div>
        <p>
            @TempData["error"]
        </p>
    </div>
}