@model AdminView.ViewModel.CouponViewModel

<h2>Välj typ av kampanj</h2>
<div class="row">
    <div class="column">
        <form class="ui form" method="post">
            @Html.AntiForgeryToken()
            <div class="field">
                @Html.DropDownListFor(m => m.Type, new SelectList(Model.CouponTypes, "Value", "Key"))
            </div>
            <input type="submit" name="name" class="ui button green" value="Gå vidare" />
        </form>
    </div>
</div>