body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.searchgridinput {
    max-width: 10%;
    margin-bottom: 20px;


}
=======
.ui.left.pointing.dropdown > .menu {

position: static;
}
.ui.secondary.menu .item > .input input {
background-color: transparent;
border: none;
max-width: 80px;
}
input[type=date]::-webkit-inner-spin-button {
-webkit-appearance: none;
display: none;

}
input[type=date]{
    max-width: 180px !important;
}
input[type=number]{
    max-width: 50px !important;
}

.ui.icon.header .users.icon {
float: none;
display: block;
width: auto;
height: auto;
padding-top: 0.1em;
font-size: 3em;
margin: 0em auto 0.25rem;
opacity: 1;
}
.ui.icon.header .tags.icon {
float: none;
display: block;
width: auto;
height: auto;
padding-top: 0.1em;
font-size: 3em;
margin: 0em auto 0.25rem;
opacity: 1;
}
.ui.icon.header .barcode.icon {
float: none;
display: block;
width: auto;
height: auto;
padding-top: 0.1em;
font-size: 3em;
margin: 0em auto 0.25rem;
opacity: 1;
}
