@model AdminView.ViewModel.AuthorizationViewModel

@{
    ViewBag.Title = "Logga in";
}
@if (Session["user"] == null)
{
    <div class="four column">

        <form class="ui form" method="post">
            @Html.AntiForgeryToken()

            <h2 class="ui large header">Logga in</h2>


            <div class="field">
                <label>Användarnamn</label>
                @Html.TextBoxFor(m => m.Email, new { required = "required" })
            </div>

            <div class="field">
                @Html.LabelFor(m => m.Password, new {@class = ""})
                @Html.PasswordFor(m => m.Password, new {required = "required"})
            </div>

            <input type="submit" class="ui button green" value="Logga in"/>
        </form>

    </div>
}
