@model AdminView.ViewModel.CouponViewModel
@{
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}
<div class="ui secondary pointing menu page grid" id="main-menu">
    <a class="item">
        <div class="ui fluid category search" id="top-search">
            <div class="ui icon input">
                <input class="prompt" placeholder="Sök/Skapa Rabattkod..." type="text">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </a>
    <div class="item">
        <div class="ui search selection dropdown ten wide column">
            <input type="hidden" name="discount-type">
            <i class="dropdown icon"></i>
            <div class="default text">Rabatt typ </div>
            <div class="menu">
                <div class="item" id="percent-discount">Procent</div>
                <div class="item" id="sum-discount">Summa</div>
                <div class="item" id="XpayY-discount">Tag X Betala Y</div>
                <div class="item" id="XgetY-discount">Tag X Få Y</div>
            </div>
        </div>
      
    </div>
    <div class="item ui toggle checkbox" id="combining">
        <a class="ui toggle checkbox" id="combining">
            <input type="checkbox" name="public">
            <label>Går att kombineras</label>
        </a>
    </div>
    <div class="item">
        <div class="ui positive left icon input">
             <div class="ui left icon input">
                <input type="date" placeholder="Från..">
                <i class="calendar green icon"></i>
            </div>
            <div class="ui left icon input">
                <input type="date" placeholder="Till..">
                <i class="calendar outline icon"></i>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui mini horizontal statistic">
            <div class="label">
                Förbrukningar: 
            </div>
            <div class="value">
                <input type="number" min="1" placeholder="X"/>
            </div>
        </div>
    </div>
    <div class="item" id="discount-choice">
       
    </div>
</div>
<div class="ui page grid overview segment">
    <div class="ui two wide column"></div>
    <div class="twelve wide column">
        <div class="ui three column center aligned stackable divided grid">
            <div class="column">
                <div class="ui icon header">
                    <i class="users icon"></i>
                    Kunder
                </div>

                <div class="ui fluid category search" id="user-search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" id="userinput" placeholder="Sök Kunder..">
                        <i class="search icon" id="customer"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="field">
                    <textarea id="users" name="users" rows="12" cols="18"></textarea>
                </div>
                <div class="ui primary button" id="readUsers">
                    Läs in..
                </div>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="barcode icon"></i>
                   Kategorier/Märken
                </div>
                <div class="ui fluid category search" id="user-search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" id="userinput" placeholder="Sök  Kategorier/Märken.">
                        <i class="search icon" id="customer"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="field">
                    <textarea rows="12" cols="20"></textarea>
                </div>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="tags icon"></i>
                    Produkter
                </div>
                <div class="ui fluid category search">
                    <div class="ui icon input">
                        <input class="prompt positive" type="text" placeholder="Sök på produkter..">
                        <i class="tags  icon"></i>
                    </div>
                    <div class="result"></div>
                    <div class="ui hidden divider"></div>
                    <div class="field">
                        <textarea rows="12" cols="20"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui top attached button">Spara</div>
        <div class="ui attached segment"></div>
        <div class="ui bottom attached button">Radera</div>
    </div>
</div>

<script src="~/Content/Highlighter/jquery-ui.js"></script>
<script src="~/Content/Highlighter/jquery.highlighttextarea.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.js"></script>
@Scripts.Render("~/bundles/semantic")



<script>

    $("#percent-discount").click(function () {
        $("#discount-choice").empty();
        $("#discount-choice").append('<div class="ui input "><input type="text" id="discount-type-item"  placeholder="Mängd"><div class="ui tag label"><div class="ui buttons"><div class="ui positive button">%</div></div></div></div>');
    });
    $("#sum-discount").click(function () {
        $("#discount-choice").empty();
        $("#discount-choice").append('<div class="ui input "><input type="text" id="discount-rate"  placeholder="Mängd"><div class="ui tag label"><div class="ui buttons"><div class="ui positive button">KR</div></div></div></div>');
    });
    $("#XpayY-discount").click(function () {
        $("#discount-choice").empty();
        $("#discount-choice").append('<div class="ui left icon input"><input type="text" placeholder="3"><i class="">Köp</i></div><div class="ui left icon input"><input type="text" placeholder="2"><i class="">Betala</i></div>');
    })
    $("#XgetY-discount").click(function () {
        $("#discount-choice").empty();
        $("#discount-choice").append('<div class="ui left icon input"><input type="text" placeholder="3"><i class="">Tag</i></div><div class="ui left icon input"><input type="text" placeholder="1"><i class="">Få</i></div>');
    });

    
    

</script>
<script>
    //skapar array för input
    var usercontent = [];
    $("#readUsers").click(function () {
        //nollställer array varje gång man laddar in nya
        usercontent = [];
        //hämtar ut textarea elementet
        var users = jQuery("textarea#users").val();
        //splittar den på radbryt
        users = users.split('\n');
        usercontent = usercontent.concat(users);
        //loopar igenom input och gör det till ett format som sökfunktionen kan läsa
        for (var i = 0; i < usercontent.length; i++) {
            usercontent[i] = { title: usercontent[i] };
        }
        //uppdaterar sökfuntionen
        userSearch();
    });
    $('#customer').on('click', function (e) {

        var value = $('#userinput').val();
        value = value.toString();
        $('textarea#users').highlightTextarea({
            words: [value]
        });

        console.log(value);
    });

</script>
<script>
    function userSearch() {
        $('#user-search').search({
            source: usercontent,
            searchFullText: false,
            cache: false
        });
    }
</script>

<script>
    var usercontent = [
        {
            title: 'XMAS15',
            description: 'Mellandagsrea 50% hela sortimentet',
        },
        {
            title: 'XMAS14',
            description: 'Mellandagsrea 40% hela sortimentet',
        },
         {
             title: 'SUM11',
             description: 'Utförsälning av förra årets soffor/ 30%',
         },
          {
              title: 'NEW-CUSTOMER-JULY',
              description: 'Nya kunder får 5% på hela köpet',
          },
            {
                title: 'CRAZYVIP-NOV',
                description: '20% till alla VIP-kunder',
            }];

    $('#top-search').search({

        source: usercontent,
        searchFullText: false,
        cache: false,
    });


</script>
<script>
    var productcontent = 0;
    
    $('#product-search').search({

        source: productcontent,
        searchFullText: false,
    });

</script>
<script>
    $('#combining')
  .checkbox('is checked', console.log('true'));
</script>
