@model AdminView.ViewModel.AuthorizationViewModel

@{
    ViewBag.Title = "Skapa ny användare";
}

<h2 class="ui large header">Skapa ny användare</h2>
<div class="row">
    <div class="column">
        <form class="ui form" method="post">
            @Html.AntiForgeryToken()

            <div class="field">
                <label>Email</label>
                @Html.EditorFor(m => Model.Email)
            </div>
            <div class="field">
                <label>Lösenord</label>
                @Html.PasswordFor(m => Model.Password)
            </div>

            <input type="submit" class="ui green button" value="Skapa användare"/>
        </form>
    </div>
</div>
