@model Domain.Entities.User

@{
    ViewBag.Title = "Ändra Status";
}

<h2>Ändra Status</h2>

<h3>Vill du ändra status för användaren ?</h3>
<div>

    <h4>Användare</h4>
    <hr />
    <div class="ui page grid overview segment">
        <div class="twelve wide column">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">

                    <input type="submit" value="Ändra status" class="ui button red" />
                    @Html.HiddenFor(m => m.Email)
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "ui button blue" })
                </div>
            }
        </div>
    </div>

</div>

