@model AdminView.ViewModel.UserViewModel

@{
    ViewBag.Title = "Users";
}

<div class="ui grid ">
    <div class="column eight wide">
        <div class="ui message main">
            <h1 class="ui header">Användare</h1>
            <p>
                Översikt av tillagda användare som finns i datorbasen. Önskar du lägga till fler användare? Klicka på den <strong>blå knappen</strong> nedan för att komma till "Skapa Användare".
            </p>

            @Html.ActionLink("Skapa användare", "Create", "User", new {@class = "ui blue button"})

        </div>
    </div>

    <div class="column seven wide blue row">

        <div class="column eight wide">E-mail</div>
        <div class="column ">Behörighet</div>

    </div>

    <script>
        $(".item.coupons").addClass("active");
    </script>
    @foreach (var user in Model.FindUsersByPage(Model.CurrentPage))
    {
        <div class="column row seven wide list_item">
            <div class="column eight wide">
                @user.Email
            </div>
            <div class="column seven wide">
                @user.IsActive
            </div>
        </div>
    }

    <!--Pagination-->
    <div class="ui pagination menu">
        <div class="ui pagination menu">
            @for (var i = 0; i < Model.AmountOfPages(); i++)
            {
                var htmlClass = i == Model.CurrentPage ? new {@class = "active item"} : new {@class = "item"};
                @Html.ActionLink((i + 1).ToString(), "Users", "User", new {page = i}, htmlClass)
            }
        </div>
    </div>

</div>